# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
*.pyc

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Poetry
poetry.lock

# VSCode
.vscode/

# Static files
staticfiles/
